body {
  background-color: rgb(253, 251, 251);
  margin: auto;
}

header {
  top: 0;
  position: fixed;
  background-color: #437343;
  width: 100%;
  height: 60px;
  z-index: 1;
  /* border: 2px solid red; */
}

header h1 {
  position: relative;
  bottom: 5px;
  left: 20px;
  color: #e2e2e2;
}

img {
  position: relative;
  top: 70px;
  left: 3px;
  margin: 20px;
  border-radius: 50%;
  padding: 5px;
}

article {
  position: relative;
  top: 20px;
  left: 15px;
  margin: 10px;
  padding: 5px;
  /* border: 2px solid red; */
}

footer {
  position: relative;
  /* top: 20px; */
  left: 15px;
  /* bottom: 5px; */
  margin: 5px;
  padding: 5px;
  /* border: 2px solid red; */
}

table {
  border: 1px solid black;
  position: relative;
  /* top: 20px; */
  left: 15px;
  margin: 10px;
  /* padding: 0; */
}

table td {
  border: 1px solid black;
  /* margin: 5px;
  padding: 0; */
}

aside {
  position: relative;
  /* top: 10px; */
  left: 15px;
  margin: 10px;
  padding: 5px;
}

#listas {
  position: relative;
  /* display: block; */
  top: 50px;
  left: 3px;
  margin: 15px;
  padding: 5px;
  /* border: 2px solid red; */
}
